# Temporary files
.ipynb_checkpoints
*~
\#*\#
.\#*
*.egg-info/

# Notebooks themselves
*.ipynb

# latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.nav
*.snm
*.synctex.gz
auto

# Python auxiliary files
*.pyc
.ropeproject
.vscode

# Misc
.DS_Store

# Output files
_build
# pixi environments
.pixi/*
!.pixi/config.toml

# jupyter data
.jupyter/
!.jupyter/jupyter_server_config.py
