# Temporary files
.ipynb_checkpoints
*~
\#*\#
.\#*

# latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.nav
*.snm
*.synctex.gz
auto

# Python auxiliary files
*.pyc
.ropeproject

# Compressed files for upload
generated

# Misc
.DS_Store
