# Temporary files
.ipynb_checkpoints
*~
\#*\#
.\#*

# latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.nav
*.snm
*.synctex.gz
auto

# Python auxiliary files
*.pyc
.ropeproject


# Cached output
.nb_output_cache

# Misc
.DS_Store

# Output files
generated
