image: ghcr.io/prefix-dev/pixi:0.59.0

variables:
  FF_USE_FASTZIP: "true"
  CACHE_COMPRESSION_LEVEL: "fastest"
  SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
  JUPYTER_NUM_PROCS: "10"
  HOST: "127.0.0.1"  # Needed to avoid binding to ::1.

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        BASE_URL: "/branch_${CI_COMMIT_REF_SLUG}"
    - if: '$CI_COMMIT_BRANCH == "master"'
    - when: never

stages:
  - build
  - deploy

.pixi-job:
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - .pixi
      - _build
  before_script:
    - pixi global install git
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - pixi install

build html:
  stage: build
  extends: .pixi-job
  script:
    - pixi run postprocess-html
  artifacts:
    paths:
      - _build/html
      - _build/site
    expire_in: 7d

.upload_website:
  stage: deploy
  image: eeacms/rsync
  needs:
    - job: build html
      artifacts: true
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - echo "$WEBSITE_UPLOAD_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - |
      rsync -ravz _build/html/ -e "$SSH_COMMAND" uploader@tnw-qn1.tudelft.net:$WEBSITE_UPLOAD_PATH

upload branch website:
  extends: .upload_website
  environment:
    name: branch/$CI_COMMIT_REF_SLUG
    on_stop: stop branch website
    url: https://topocondmat.org/branch_${CI_COMMIT_REF_SLUG}/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  variables:
    WEBSITE_UPLOAD_PATH: /branch_${CI_COMMIT_REF_SLUG}

stop branch website:
  extends: .upload_website
  stage: deploy
  needs: []
  script:
    - mkdir -p /tmp/empty_dir
    - rsync -av --delete /tmp/empty_dir/ -e "$SSH_COMMAND" uploader@tnw-qn1.tudelft.net:$WEBSITE_UPLOAD_PATH/
  when: manual
  environment:
    name: branch/$CI_COMMIT_REF_SLUG
    action: stop
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
  variables:
    WEBSITE_UPLOAD_PATH: /branch_${CI_COMMIT_REF_SLUG}
  allow_failure: false

upload main website:
  extends: .upload_website
  environment:
    name: published
    url: https://topocondmat.org/
  only:
    - master@qt/topocm
  variables:
    WEBSITE_UPLOAD_PATH: /
