image: topocourse
stages:
  - execute
  - deploy


execute_ipynbs:
  stage: execute
  script:
    - export PYTHONPATH=$PYTHONPATH:${PWD}/code
    - export DEST=generated/with_output
    - mkdir -p $DEST
    - cp syllabus.ipynb $DEST
    - cp -r data $DEST
    - cp -r w*_* $DEST
    - jupyter nbconvert --to notebook --inplace --config scripts/config_filter_smudge.py $DEST/**/*ipynb $DEST/syllabus.ipynb
    - rm -rf $DEST/data
  cache:
    key: "$CI_BUILD_NAME"
    paths:
      - .nb_output_cache
  artifacts:
    paths:
      - generated/with_output
    expire_in: 7d


mirror to github:
  stage: execute
  only:
    - branches@qt/topocm
  script: |
    REPOS=( git@github.com:topocm/topocm_content.git )
    trap "rm -rf ~/.ssh" EXIT
    HOSTS=$(for REPO in "${REPOS[@]}"; do echo ${REPO%:*}|cut -d'@' -f2; done)
    ORIGIN_URL=$(git config --get remote.origin.url)
    mkdir ~/.ssh
    for HOST in "${HOSTS[@]}"; do ssh-keyscan $HOST >> ~/.ssh/known_hosts; done
    echo "$PUSH_KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
    cd $(mktemp -d); git clone --bare $ORIGIN_URL .
    for REPO in "${REPOS[@]}"; do git remote add mirror $REPO; git push mirror --mirror; git remote rm mirror; done


edx_archive:
  stage: deploy
  script: ./scripts/converter.py --silent ./generated/with_output
  artifacts:
    paths:
      - generated/import_to_edx.tar.gz
    expire_in: 7d


upload_test_website:
  stage: deploy
  only:
    - branches@qt/topocm
  except:
    - master@qt/topocm
  script:
    - export DEST=generated/html
    - mkdir -p ~/.ssh && ssh-keyscan tnw-tn1.tudelft.net >> ~/.ssh/known_hosts
    - echo $WEBSITE_KEY | base64 -d > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
    - python scripts/pelican_converter.py
    - pelican -o $DEST/ -s website_assets/pelicanconf.py generated/pelican_content
    - "rsync -ravz --delete $DEST/* topocm-test@tnw-tn1.tudelft.net:"
    - rm -rf ~/.ssh
  artifacts:
    paths:
      - generated/html
    expire_in: 1d


upload_website:
  stage: deploy
  only:
    - master@qt/topocm
  script:
    - export DEST=generated/html
    - mkdir -p ~/.ssh && ssh-keyscan tnw-tn1.tudelft.net >> ~/.ssh/known_hosts
    - echo $WEBSITE_KEY | base64 -d > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
    - python scripts/pelican_converter.py
    - pelican -o $DEST/ -s website_assets/pelicanconf.py generated/pelican_content
    - "rsync -ravz --delete $DEST/* topocm@tnw-tn1.tudelft.net:"
    - rm -rf ~/.ssh
  artifacts:
    paths:
      - generated/html
    expire_in: 1d
