# Syllabus

{% for chapter in chapters -%}
* **{{chapter.title}}**
{% for section in chapter.sections %}  * [{{section.title}}]({{section.location}}.ipynb)
{% endfor -%}
{%- endfor %}
## Course structure

Each section consists of several relatively self-contained topics, each introduced and summarized by an expert.

## Current course team

**Anton Akhmerov** is an assistant professor in Kavli Institute of Nanoscience of Delft University of Technology and QuTech.

**Jay Sau** is an assistant professor in the area of theoretical Condensed matter physics at the University of Maryland, College Park, USA.

**Bernard van Heck** is a postdoc at Yale University.

**Bas Nijholt, Irfan Muhammad, Tómas Örn Rosdahl** are PhD students working in Kavli Institute for Nanoscience at TU Delft supervised by Anton Akhmerov.

## Other course developers

The initial verison of the course was created by:
* Anton Akhmerov
* Jay Sau
* Bernard van Heck
* Sebastian Rubbert
* Rafał Skolasiński

## Acknowledgements

When working on the course, we greatly benefitted from support of

* [Delft University of Technology](http://tudelft.nl) and its Extension School
* [QuTech](http://qutech.nl)
* [Casimir Research School](http://casimir.researchschool.nl) and the [NanoFront](http://casimir.researchschool.nl/nanofront) program
* [University of Maryland](http://umd.edu) and its Physics Department
* [Joint Quantum Institute](http://jqi.umd.edu)

We thank [M. Wimmer](http://michaelwimmer.org/) and [C. Groth](http://inac.cea.fr/Pisp/christoph.groth/) for letting us use their code in some of the course materials.

For the support with implementing the technical aspects of the course we thank

* The [Jupyter project](https://jupyter.org) and its developer team, especially Min Ragan-Kelley.
* [SageMathCloud](https://cloud.sagemath.org) and its creator W. Stein.
* The [Holoviews](https://holoviews.org) team: Jean-Luc Stevens and Philipp Rudiger.

Finally, we thank all the external speakers for contributing the videos for the course.

## License

Unless otherwise specified the **Course Materials** of TU
Delft TOPOCMx are Copyright [Delft University of Technology](http://www.tudelft.nl/en/) and are licensed under
a [Creative Commons Attribution-ShareAlike 4.0
International License](http://creativecommons.org/licenses/by-sa/4.0/)
[![](https://i.creativecommons.org/l/by-sa/4.0/88x31.png)](http://creativecommons.org/licenses/by-sa/4.0/)

The **source code** can also be used under conditions of the 3-clause BSD licence:

 Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

**Videos contributed by external experts** are copyright of their creators, and are also available under Creative Commons Attribution 3.0 Unported License.
